body {
	background-color:black;
}
header {
	/*background-color:#FFCCAC;*/
	background-color:lightblue;
	text-align:center;
	font-family:'Times New Roman', Times, serif;
	font-size:3vw;
	text-align:center;
	color: blue;
}
p {
	font-size: 35px;
	color:white;
	text-align:left;
	font-family: georgia;
}
img {
	display:block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	max-width: 100%;
}
footer {
	background-color:#FFCCAC;
	text-align:center;
	font-family:palatino;
	font-size:20px;
	text-align:center;
	color: white;
}